.input-label {
  font-size: 12px;
  line-height: 17px;
  color: #425a70;
}

.custom-input {
  border: 1px solid #ade7b4 !important;
  font-size: 14px;
}

.custom-input:focus {
  outline-width: 0;
  outline: none !important;
}

.error-text {
  color: red;
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  .custom-input {
    box-shadow: unset !important;
  }
}
